/* Cascading Style Sheet for HTML Forms */

table.form, table.bar {
	table-layout: auto;
	border-collapse: separate;
	border-spacing: 3px 3px;
	border-width: 4px 4px 4px 4px;
	padding: 6px 6px 6px 6px;
	width: 100%;
}

/* Title Top Row */
table.form tr.title {
	font-size: 9pt;
	background-color: #0000a1;
	font-family: tahoma, verdana;
	vertical-align: middle;
	color: #ffffff;
	font-weight: bold;
}

/* Button bar table */
table.bar td {
	background-color: #0000a1;
	text-align: center;
	vertical-align: middle;
}

table.form tr {
	font-family: tahoma, verdana;
	vertical-align: middle;
	background-color: #efefef;
}

table.form td.label {
	background-color: #0000a1;
	text-align: right;
	color: #ffffff;
	font-size: 8pt;
	width: 124px;
}

table.form td.top {
	vertical-align: top;	
}

table.form td.coolerPost {
	text-align: left;
	font-size: 9pt;
	vertical-align: top;
	width: 195px;
}

/* Default row with data */
table.form td.data {
	color: #000000;
	text-align: left;
	font-size: 9pt;
}

select {
	font-family: tahoma, verdana;
	font-size: 9pt;
	font-weight: normal;
	background-color: #0080d1;
	color: #ffffff;
}

input, textarea {
	font-family: tahoma, verdana;
	font-size: 9pt;
	border: 1px solid #0000a1;
	background: #f0f4f8;
}

input.radio, input.check {
	border: none;
	font-size: 8pt;
}

select.req {
	border: 1px solid #e00404;
}

input.req, textarea.req {
	background: #fff8fa;
	border: 1px solid #e00404;
}

*.label :link, *.label :visited {
	font-size: 9pt;	
	font-family: tahoma, verdana;
	text-decoration: underline;
	color: #efffff;
}

*.title a {
	font-size: 9pt;
	text-transform: uppercase;
	font-weight: bold;
	font-family: tahoma, verdana;
	text-decoration: underline;
	color: #efffff;
}
