TABLE TR {
	font-size: 9pt;	
	background-color: #EFEFEF;
	font-family: Tahoma;
	vertical-align: middle;
}

TD.date, TD.welcome {
	background-color: #0000A1;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
}

TD.author {
	background-color: #008080;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
}

TABLE.news TD.title {
	background-color: #EFEFEF;
	color: #000000;
	font-family:Tahoma;
	font-size:10pt;
	text-align: center;
	font-weight: bold;
}

TABLE.newPilot {
	table-layout:fixed;
	border-collapse: separate;
	border-spacing: 3px 3px;
	border-width: 4px 4px 4px 4px;
	padding: 6px 6px 6px 6px;
	width: 40%;
	font-family:Tahoma;
	font-size: 10pt;
	text-align: center;
}

TABLE.newPilot TR {
	background-color: #EFEFEF;
}

TABLE.newPilot TD.id {
	background-color: #0000A1;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	width: 30%;
}