/* Cascading Style Sheet for Table Views */

table.view {
	width: 100%;
}

table.mid {
	margin-left: auto;
	margin-right: auto;
}

table.view tr.title {
	font-size: 9pt;
	background-color: #0000A1;
	font-family: tahoma, verdana;
	vertical-align: middle;
	color: #ffffff;
	font-weight: bold;
}

table.view tr {
	font-size: 9pt;
	background-color: #efefef;
	font-family: tahoma, verdana;
	vertical-align: middle;
	text-align: center;
}

td.priB {
	background-color: #0000a1;
	color: #ffffff;
	font-weight: bold;
}

td.secB {
	background-color: #008080;
	color: #ffffff;
	font-weight: bold;
}

td.def {
	background-color: #efefef;
	color: #000000;
}

/* Table row classes for view legends */
table.view *.opt1 {
	background-color: #efefbf;
}

table.view *.opt2 {
	background-color: #a0ffd8;
}

table.view *.opt3 {
	background-color: #b0e0ff;
}

table.view *.opt4 {
	background-color: #c8c0ff;
}

table.view *.warn {
	background-color: #ffefc0;
}

table.view *.err {
	background-color: #ffc0c0;
}

*.title :link, *.title :visited, *.title a {
	font-size: 9pt;	
	font-family: tahoma, verdana;
	font-weight: bold;
	text-decoration: underline;
	color: #ffffff;
}

table.view tr :link, table.view tr :visited {
	color: inherit;
	text-decoration: none;
}
